<!-- ==== Global Footer ===== -->
<div class="container-xxl">
    <div class="row footer-section justify-content-center">
        <div class="col-md-5">
          <h2>Blogs</h2>
          <p>Blogify is a platform for Mahatama Jyotiba Phule Rohilkhand University students to showcase their writing talent of blogging, poetry and stories etc and delivering meaningful content to the readers.</p>
          <h3><span><a href=""><i class="fa-brands fa-square-facebook"></i></a></span>&nbsp; <span><a href=""><i class="fa-brands fa-linkedin"></i></a></span>&nbsp; <span><a href=""><i class="fa-brands fa-square-twitter"></i></a></span>&nbsp; <span><a href=""><i class="fa-brands fa-square-pinterest"></i></a></span></h3>
        </div>
        <div class="col-md-2">
          <h5>Quick Links</h5>
          <ul>
            <li><a href=""><i class="bi bi-chevron-right"></i> About Us</a></li>
            <li><a href="/start-posting/"><i class="bi bi-chevron-right"></i> Start Posting</a></li>
            <li><a href="/request-your-topic/"><i class="bi bi-chevron-right"></i> Request Your Topic</a></li>
            <li><a href=""><i class="bi bi-chevron-right"></i> Author</a></li>
            <li><a href="/contact-us/"><i class="bi bi-chevron-right"></i> Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul>
            <li><a href=""><i class="bi bi-house"></i>&nbsp; CSIT Department</a></li>
            <li><a href=""><i class="bi bi-geo-alt"></i>&nbsp; MJP Rohilkhand University, Bareilly</a></li>
            <li><a href="mailto:blogify.csit@gmail.com"><i class="bi bi-envelope"></i>&nbsp; blogify.csit@gmail.com</a></li>
            <li><a href="tel: +91 7078056609"><i class="bi bi-telephone"></i>&nbsp; +91 7078056609</a></li>
            <li><a href=""><i class="bi bi-clock"></i>&nbsp; Mon - Sat: 9:00 am - 5:00 pm</a></li>
          </ul>
        </div>
    </div>
    <div class="row copyright-sections justify-content-center align-item-center">
      <div class="col-12">
        <p>Copyright ©2023 CSIT Department, MJPRU, Bareilly</p>
      </div>
  </div>
</div>